/* Siga as orientações no arquivo README para concluir o exercício */

.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: green;
    color: black;
}
.cabecalho{
    background-color: #ADFF2F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    color: brown;
    font-size: 32px;
    font-weight: bold;
}
.subtitulo{
    color:blue;
    font-size: 20px;
    font-family:cursive;
}

.conteudo{
    background-color:beige;
}
.conteudo p{
    color: #E4005A;
    font-size: 42px;
}
.conteudo .terceiroParagrafo{
    color: purple;
    
}
.titleText{
    color: blueviolet;
}
.paragrafo{
    color:#808080;
}

@media(max-width: 480px){
    .container{
        width: 100%;
        background-color: #ADD8E6;
    }
}


